body {
      background-color: #0C0C1A;
      margin:           0px;
      padding:          0px;
      overflow:         hidden;
      font-family: 'Maven Pro', sans-serif;
    }

    .title{
        margin: auto;
        margin-top:25px;
        margin-bottom:35px;
        width:230px;
        color:#BFFFEA;
        font-size: 20px;
        white-space: nowrap;
    }


    .axis line {
      fill:         none;
      stroke:       #CEE5ED;
      stroke-width: 1px;
    }
    .axis path {
      fill:            none;
      stroke:          #CEE5ED;
      stroke-width:    2.5px;
      shape-rendering: crispEdges;
    }
    .axis text {
      font: 12px sans-serif;
      /*shape-rendering: crispEdges;*/
      stroke-width:    1px;
      fill: white;
      font-color: #CEE5ED;
    }

    .bookEnd {
      fill: #BFFFEA;
    }
    .bookend.notReached {
      opacity:0;
    }

    path.bookEnd.notReached.ghost{
      opacity:.5;
    }

    .color-ahead-left {
      stop-color:#0581A6;
    }
    .color-ahead-right {
      stop-color:#05A9B8;
    }

    .color-ahead-left {
      stop-color:#0581A6;
    }
    .color-ahead-right {
      stop-color:#05A9B8;
    }

    .color-deniedEntry-left {
      stop-color:rgb(212,19,32);
      stop-opacity:.1;
    }
    .color-deniedEntry-right {
      stop-color:rgb(212,19,32);
      stop-opacity:.8;
    }

    .deniedEntry{
      fill: red;
      fill-opacity: .02;
    }

    .color-fullBG-left {
      stop-color:rgba(0,0,0,1);
      /*stop-color:red;*/
    }
    .color-fullBG-right {
      stop-color:rgba(20,24,36,1);
      /*stop-color:green;*/
    }

    .color-late-left {
      stop-color:#C90C14;
    }
    .color-late-right {
      stop-color:#C90C14;
    }


    .color-maskingGradient-top {
      stop-color:#1B1E23
    }
    .color-maskingGradient-bottom {
      stop-color:#1B1E23
    }

    .color-maskingGradientHorizontal-left {
      stop-color:#1B1E23
    }
    .color-maskingGradientHorizontal-right {
      stop-color:#1B1E23
    }

    .color-onTime-left {
      stop-color:#0581A6;
    }
    .color-onTime-right {
      stop-color:#0581A6;
    }

/*    .delivery g image:hover line{
      border:1px solid black;
      stroke:white;
      cursor: hand;

    }*/
    .communicationLine {
      stroke: white;
      stroke-width:    1px;
    }
    .delivery image:hover {
        height: 55px;
        width: 55px;
        y: -27;
        x: -27;
        cursor: pointer;
    }
    .deliveryStatuss {
      fill: #BFFFEA;
    }
    .deliveryStatuss.denied{
      fill: #D01E40;
    }
    #detailSvg {
      position:absolute;
      left:0;
      top:83px;

    }
    .detailName {
      fill: #BFFFEA;
    }
    .detailDeliveryCloseRect {
      opacity:.88;
      fill: #0C0C1A;

    }
    .detailDeliveryRect {
      fill:rgba(26, 48, 71,1);
    }
    .detailDeliveryRect.denied {
      fill:#2F1018;
      /*fill:rgba(26, 48, 71,1);*/
    }

    .detailInfoRect {
      fill:rgba(26, 48, 71,1);
      position:relative;
    }
    .detailInfoRectDenied {
      fill:rgb(212,19,32);
      fill-opacity:.3;
      position:relative;

    }

    .detailInfoPOC{
      position:relative;
      fill:grey;
    }
    .detailInfoCompanyName {
      fill:white;
    }
    .detailInfoArrivaltime {
      fill:rgb(77,254,220);/*Sam*/
    }
    .detailScheduledLabels {
      fill:#BFFFEA;
    }
    .detailActualLabels {
      fill:#BFFFEA;
    }
    .detailActualLabels.ahead {
      fill:#00B4C2;
    }
    .detailActualLabels.late {
      fill:#CF0C13;
    }

    .detailInfoDelay {
      fill:#0A5D7F;
    }
    .detailInfoDelay.late {
      fill:rgb(212,19,32);
    }
    .detailInfoDelay.early {
      fill:rgb(1,254,169);
    }
    .detailScheduledLine2 {
      stroke: #3B414A;
      stroke-width: 2px;
    }
    .detailScheduledLine2.notReached {
      stroke: #363667;
    }

    .detailEventLine {
      stroke: white;
      stroke-width:    1px;
    }
    .detailEventStart {
      stroke: #017AAA;
      stroke-width:    1px;
      fill:#BFFFEA;
    }
    .detailEventEnd {
      stroke: #017AAA;
      stroke-width:    1px;
      fill:#017AAA;
    }

    .maskingGradient {
      fill: url(#maskingGradient);
    }

    .maskingGradientHorizontal {
      fill: url(#maskingGradientHorizontal);
    }

    .stations {
      pointer-events: none;
    }
    .station{
      /*fill:#181F2B;*/
      fill:rgba(24,31,43,0);
      /*fill:rgba(9,12,17,.5)*/
    }
    .station:nth-child(even) {
      /*fill:#1B1E23;*/
      fill:rgba(27,30,35,.3);
      /*fill:rgba(11,12,14,.5);*/
    }
    .name{
      fill: #BFFFEA;
    }

    .workflow {
      stroke: #017AAA;
      stroke-width: 1px;
    }
    .workflow.betweenPorts {
      stroke: #535353;
      stroke-width:    2px;
    }
    .workflow.ahead {
      stroke:#00B4C2;
    }
    .workflow.late {
      stroke:#CF0C13;
      stroke-width:    2px;
    }
    .workflow.late.ghostline {
      stroke:#52131A;
      stroke-width:    2px;
    }
    .workflow.notReached {
      stroke:#363667;
      stroke-width:    2px;
    }

    .workflow.aheadGradient {
      stroke: url(#aheadGradient);
      /*stroke-widtstroke-width: 4;h:1px;*/
      fill:none;
      stroke-width: 4;
    }
    .workflow.lateGradient {
      stroke: url(#lateGradient);

    }
    .workflow.onTimeGradient {
      stroke: url(#onTimeGradient);

    }

    .yAxis {
      /*fill:#D0D1D1;*/
      stroke:#D0D1D1;
    }
    .yAxisDateTimeBox {
      fill:#0D424F;
    }
    .axis .yAxisDateTimeText {
      fill: #BFFFEA;
      font-family: 'Maven Pro', sans-serif;
    }
    .yAxisDateTimeArrow {
      fill: #01FEA9 !important;
      stroke:none !important;
    }

    svg#timeline {
      background-color: #0C0C1A
    }
